h1 {
    font-weight: normal;
    font-size: 40px;
}
.main-container {
    text-align: center;
    margin-top: 50px;
    touch-action: none;
}
.setting {
    margin-top: 25px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #c8efef;
}

label {
    font-size: 20px;
}

.btn-flat-border {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.btn-flat-border:hover {
    background: #67c5ff;
    color: white;
}

.box-container{
    display: flex;
    flex-flow: row wrap;
}

.container {
    position: relative;
    width: 100px;
    height:100px;
    margin: 10px 10px;
}

.container p {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.btn.active{
    background-color: #6fb537;
}